.navigation
    position: fixed
    top: 300px
    right: 30px
    list-style: none
    padding: 0px
    margin: 0px
    z-index: 20
    .navigation__item
        margin-bottom: 45px
        text-align: right
        .navigation__item-link
            font-style: normal
            font-weight: 500
            font-size: 18px
            letter-spacing: 0.02em
            color: #FFFFFF
            text-align: right
            text-decoration: none