.header
    height: auto
    background: linear-gradient(106.54deg, #2B2D31 0%, #264064 67.19%, #223463 100%)
    overflow: hidden
    position: relative
    padding-bottom: 150px
    margin-bottom: 150px
    &.header-inner
        height: 120px
        background: linear-gradient(106.54deg, #2F2B31 0%, #412664 67.19%, #223463 100%)
        padding: 0px
        margin-bottom: 45px
        .header-top-panel
            margin: 30px 0px
            .header-menu-btn
                margin-top: 5px
    .container
        position: relative
    .container, .col, .row
        height: 100%
    .header-top-panel
        display: flex
        justify-content: space-between
        margin-top: 30px
        position: relative
        z-index: 10
        .header-top-panel__logo
            width: 215px
            height: 60px
            .logo__link
                background-image: url("data:image/svg+xml,%3Csvg width='215' height='60' viewBox='0 0 215 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.492 37.896C22.932 38.352 24.06 39.12 24.876 40.2C25.692 41.256 26.1 42.564 26.1 44.124C26.1 46.332 25.236 48.036 23.508 49.236C21.804 50.412 19.308 51 16.02 51H2.988V25.8H15.3C18.372 25.8 20.724 26.388 22.356 27.564C24.012 28.74 24.84 30.336 24.84 32.352C24.84 33.576 24.54 34.668 23.94 35.628C23.364 36.588 22.548 37.344 21.492 37.896ZM8.784 30.192V36.132H14.58C16.02 36.132 17.112 35.88 17.856 35.376C18.6 34.872 18.972 34.128 18.972 33.144C18.972 32.16 18.6 31.428 17.856 30.948C17.112 30.444 16.02 30.192 14.58 30.192H8.784ZM15.588 46.608C17.124 46.608 18.276 46.356 19.044 45.852C19.836 45.348 20.232 44.568 20.232 43.512C20.232 41.424 18.684 40.38 15.588 40.38H8.784V46.608H15.588ZM46.3193 51.432C43.7033 51.432 41.3393 50.868 39.2273 49.74C37.1393 48.612 35.4953 47.064 34.2953 45.096C33.1193 43.104 32.5313 40.872 32.5313 38.4C32.5313 35.928 33.1193 33.708 34.2953 31.74C35.4953 29.748 37.1393 28.188 39.2273 27.06C41.3393 25.932 43.7033 25.368 46.3193 25.368C48.9353 25.368 51.2873 25.932 53.3753 27.06C55.4633 28.188 57.1073 29.748 58.3073 31.74C59.5073 33.708 60.1073 35.928 60.1073 38.4C60.1073 40.872 59.5073 43.104 58.3073 45.096C57.1073 47.064 55.4633 48.612 53.3753 49.74C51.2873 50.868 48.9353 51.432 46.3193 51.432ZM46.3193 46.464C47.8073 46.464 49.1513 46.128 50.3513 45.456C51.5513 44.76 52.4873 43.8 53.1593 42.576C53.8553 41.352 54.2033 39.96 54.2033 38.4C54.2033 36.84 53.8553 35.448 53.1593 34.224C52.4873 33 51.5513 32.052 50.3513 31.38C49.1513 30.684 47.8073 30.336 46.3193 30.336C44.8313 30.336 43.4873 30.684 42.2873 31.38C41.0873 32.052 40.1393 33 39.4433 34.224C38.7713 35.448 38.4353 36.84 38.4353 38.4C38.4353 39.96 38.7713 41.352 39.4433 42.576C40.1393 43.8 41.0873 44.76 42.2873 45.456C43.4873 46.128 44.8313 46.464 46.3193 46.464ZM84.1463 51L79.2863 43.98H78.9983H73.9223V51H68.0903V25.8H78.9983C81.2303 25.8 83.1623 26.172 84.7943 26.916C86.4503 27.66 87.7223 28.716 88.6103 30.084C89.4983 31.452 89.9423 33.072 89.9423 34.944C89.9423 36.816 89.4863 38.436 88.5743 39.804C87.6863 41.148 86.4143 42.18 84.7583 42.9L90.4103 51H84.1463ZM84.0383 34.944C84.0383 33.528 83.5823 32.448 82.6703 31.704C81.7583 30.936 80.4263 30.552 78.6743 30.552H73.9223V39.336H78.6743C80.4263 39.336 81.7583 38.952 82.6703 38.184C83.5823 37.416 84.0383 36.336 84.0383 34.944ZM139.549 25.8H150.997C153.733 25.8 156.145 26.328 158.233 27.384C160.345 28.416 161.977 29.88 163.129 31.776C164.305 33.672 164.893 35.88 164.893 38.4C164.893 40.92 164.305 43.128 163.129 45.024C161.977 46.92 160.345 48.396 158.233 49.452C156.145 50.484 153.733 51 150.997 51H139.549V25.8ZM150.709 46.212C153.229 46.212 155.233 45.516 156.721 44.124C158.233 42.708 158.989 40.8 158.989 38.4C158.989 36 158.233 34.104 156.721 32.712C155.233 31.296 153.229 30.588 150.709 30.588H145.381V46.212H150.709ZM172.891 25.8H178.723V51H172.891V25.8ZM211.416 25.8V51H206.628L194.064 35.7V51H188.304V25.8H193.128L205.656 41.1V25.8H211.416Z' fill='white'/%3E%3Cpath d='M3.316 4.2H7.6C8.64533 4.2 9.574 4.40533 10.386 4.816C11.198 5.21733 11.828 5.79133 12.276 6.538C12.724 7.27533 12.948 8.12933 12.948 9.1C12.948 10.0707 12.724 10.9293 12.276 11.676C11.828 12.4133 11.198 12.9873 10.386 13.398C9.574 13.7993 8.64533 14 7.6 14H3.316V4.2ZM7.516 12.46C8.23467 12.46 8.86467 12.3247 9.406 12.054C9.95667 11.774 10.3767 11.382 10.666 10.878C10.9647 10.3647 11.114 9.772 11.114 9.1C11.114 8.428 10.9647 7.84 10.666 7.336C10.3767 6.82267 9.95667 6.43067 9.406 6.16C8.86467 5.88 8.23467 5.74 7.516 5.74H5.136V12.46H7.516ZM38.5844 14L38.5704 7.504L35.3504 12.88H34.5384L31.3184 7.588V14H29.5824V4.2H31.0804L34.9724 10.696L38.7944 4.2H40.2924L40.3064 14H38.5844ZM57.6535 4.2H59.4735V14H57.6535V4.2ZM78.8122 5.74H75.5642V4.2H83.8802V5.74H80.6322V14H78.8122V5.74ZM106.358 14L104.356 11.13C104.272 11.1393 104.146 11.144 103.978 11.144H101.766V14H99.9461V4.2H103.978C104.827 4.2 105.565 4.34 106.19 4.62C106.825 4.9 107.31 5.30133 107.646 5.824C107.982 6.34667 108.15 6.96733 108.15 7.686C108.15 8.42333 107.968 9.058 107.604 9.59C107.249 10.122 106.736 10.5187 106.064 10.78L108.318 14H106.358ZM106.316 7.686C106.316 7.06067 106.111 6.58 105.7 6.244C105.289 5.908 104.687 5.74 103.894 5.74H101.766V9.646H103.894C104.687 9.646 105.289 9.478 105.7 9.142C106.111 8.79667 106.316 8.31133 106.316 7.686ZM128.978 10.542V14H127.158V10.57L123.308 4.2H125.254L128.124 8.974L131.022 4.2H132.814L128.978 10.542Z' fill='white'/%3E%3Cpath d='M124.448 48.3677C124.169 48.3677 123.889 48.2619 123.67 48.058C123.217 47.6274 123.194 46.9097 123.625 46.4565L130.189 39.4992L123.625 32.5418C123.194 32.0886 123.217 31.371 123.67 30.9404C124.123 30.5098 124.841 30.5324 125.271 30.9857L132.576 38.7211C132.992 39.1592 132.992 39.8391 132.576 40.2772L125.271 48.0126C125.045 48.2468 124.743 48.3677 124.448 48.3677Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M106.44 48.3677C106.138 48.3677 105.835 48.2468 105.616 48.0126L98.3116 40.2772C97.8961 39.8391 97.8961 39.1592 98.3116 38.7211L105.616 30.9857C106.047 30.5324 106.765 30.5098 107.218 30.9404C107.671 31.371 107.694 32.0886 107.263 32.5418L100.691 39.4992L107.256 46.4565C107.686 46.9097 107.664 47.6274 107.21 48.058C106.991 48.2619 106.712 48.3677 106.44 48.3677Z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M113.71 52.0012C113.65 52.0012 113.597 51.9936 113.536 51.9861C112.917 51.8879 112.494 51.3137 112.584 50.6943L116.059 27.964C116.158 27.3446 116.732 26.9216 117.351 27.0122C117.971 27.1104 118.394 27.6845 118.303 28.304L114.828 51.0342C114.745 51.6008 114.261 52.0012 113.71 52.0012Z' fill='url(%23paint2_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='123.315' y1='30.6311' x2='133.616' y2='31.1378' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE9417'/%3E%3Cstop offset='1' stop-color='%23F56233'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='98' y1='30.6311' x2='108.3' y2='31.1378' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE9417'/%3E%3Cstop offset='1' stop-color='%23F56233'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='112.572' y1='27' x2='118.764' y2='27.1296' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE9417'/%3E%3Cstop offset='1' stop-color='%23F56233'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
                width: 215px
                height: 60px
                display: block
        .header-menu-btn
            display: none
            margin: -1px 0px
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' fill='url(%23paint0_linear)'/%3E%3Crect x='9.59998' y='13.6' width='19.9999' height='1.34201' rx='0.671005' fill='white'/%3E%3Crect x='9.59998' y='19.329' width='19.9999' height='1.34201' rx='0.671005' fill='white'/%3E%3Crect x='16.2667' y='25.058' width='13.3333' height='1.34201' rx='0.671005' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='0' x2='42.7901' y2='3.89986' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE9417'/%3E%3Cstop offset='1' stop-color='%23F56233'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
            width: 40px
            height: 40px
    .header-contacts
        display: flex
        justify-content: flex-end
        position: relative
        z-index: 10
        .header-contacts__item
            font-style: normal
            font-weight: 500
            font-size: 16px
            line-height: 60px
            letter-spacing: 0.02em
            color: #FFFFFF
            margin-right: 60px
            display: flex
            justify-content: flex-start
            align-items: center
            text-decoration: none
            transition: all 0.2s
            &:hover
                color: #FE9417
            &:last-child
                margin-right: 0px

            .header-contacts__icon
                margin-right: 15px
                &.header-contacts__icon_phone
                    background-image: url("data:image/svg+xml,%3Csvg width='11' height='17' viewBox='0 0 11 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.35271 9.13242C3.64467 7.30642 3.07968 5.30343 3.91613 4.97879C5.11255 4.51444 6.06233 4.32104 5.39735 1.8398C4.73281 -0.640296 3.13091 0.333887 1.97221 0.784262C0.633883 1.30369 -0.0131423 5.15372 1.89988 10.0844C3.81406 15.0146 6.89002 17.4177 8.2287 16.8975C9.389 16.4478 11.2258 16.0907 10.0432 13.8117C8.86098 11.5319 8.02976 12.029 6.83183 12.4946C5.99644 12.8169 5.0619 10.958 4.35271 9.13242Z' fill='white'/%3E%3C/svg%3E")
                    background-position: center center
                    background-repeat: no-repeat
                    width: 11px
                    height: 17px
                &.header-contacts__icon_email
                    background-image: url("data:image/svg+xml, %3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 0.00012207H1.5C0.675 0.00012207 0.00749999 0.675122 0.00749999 1.50012L0 10.5001C0 11.3251 0.675 12.0001 1.5 12.0001H13.5C14.325 12.0001 15 11.3251 15 10.5001V1.50012C15 0.675122 14.325 0.00012207 13.5 0.00012207ZM13.2 3.18762L7.8975 6.50262C7.6575 6.65262 7.3425 6.65262 7.1025 6.50262L1.8 3.18762C1.7248 3.14541 1.65894 3.08837 1.60642 3.01996C1.55389 2.95156 1.5158 2.87321 1.49443 2.78965C1.47307 2.70609 1.46888 2.61907 1.48212 2.53385C1.49536 2.44863 1.52575 2.36698 1.57146 2.29385C1.61717 2.22071 1.67724 2.15761 1.74804 2.10837C1.81885 2.05912 1.8989 2.02476 1.98337 2.00735C2.06784 1.98994 2.15496 1.98985 2.23947 2.00708C2.32397 2.02432 2.4041 2.05852 2.475 2.10762L7.5 5.25012L12.525 2.10762C12.5959 2.05852 12.676 2.02432 12.7605 2.00708C12.845 1.98985 12.9322 1.98994 13.0166 2.00735C13.1011 2.02476 13.1812 2.05912 13.252 2.10837C13.3228 2.15761 13.3828 2.22071 13.4285 2.29385C13.4742 2.36698 13.5046 2.44863 13.5179 2.53385C13.5311 2.61907 13.5269 2.70609 13.5056 2.78965C13.4842 2.87321 13.4461 2.95156 13.3936 3.01996C13.3411 3.08837 13.2752 3.14541 13.2 3.18762Z' fill='white'/%3E%3C/svg%3E")
                    background-position: center center
                    background-repeat: no-repeat
                    width: 15px
                    height: 12px
        .header-contacts__request
            position: relative
            cursor: pointer
            &::after
                content: ''
                display: block
                height: 2px
                width: 100%
                background: linear-gradient(95.21deg, #F59C33 0%, #F56233 98.85%)
                border-radius: 3px
                position: absolute
                top: 45px
                transition: all 0.2s
        .header-contacts__lang
            cursor: pointer
            .header-contacts__icon
                margin-left: 10px

        .header-contacts__menu
            margin: 10px 0px
            cursor: pointer
            display: block
            transition: all 0.2s
            border-radius: 50%
            box-shadow: none
            transition: all 0.2s
            outline: none !important
            border: none
            background: none
            text-align: center
            padding: 0px
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' fill='url(%23paint0_linear)'/%3E%3Crect x='9.59998' y='13.6' width='19.9999' height='1.34201' rx='0.671005' fill='white'/%3E%3Crect x='9.59998' y='19.329' width='19.9999' height='1.34201' rx='0.671005' fill='white'/%3E%3Crect x='16.2667' y='25.058' width='13.3333' height='1.34201' rx='0.671005' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='0' x2='42.7901' y2='3.89986' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE9417'/%3E%3Cstop offset='1' stop-color='%23F56233'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
            width: 40px
            height: 40px
            &:hover
                box-shadow: 0px 10px 45px rgba(245, 98, 51, 0.4)
    .header-info
        margin-top: 150px
        margin-bottom: 45px
        position: relative
        z-index: 10
        .header-info__title
            font-style: normal
            font-weight: 600
            font-size: 48px
            letter-spacing: 0.02em
            color: #FFFFFF
            line-height: 68px
            margin-bottom: 0px

        .header-info__separator
            margin-top: 45px
            width: 100px
            height: 2px
            background: linear-gradient(95.21deg, #FE9417 0%, #F56233 98.85%)
            border-radius: 3px
        .header-info__description
            font-style: normal
            font-weight: 300
            font-size: 18px
            line-height: 35px
            color: #FFFFFF
            margin-top: 45px
        
    .header-buttons
        display: flex
        justify-content: left
        position: relative
        z-index: 10
        .header-buttons__about
            width: 280px
            height: 70px
            line-height: 70px
            border-radius: 5px
            margin-right: 45px
            cursor: pointer
        .header-buttons__portfolio
            display: block
            line-height: 70px
            text-decoration: none
            position: relative
            cursor: pointer
            &::after
                content: ''
                display: block
                height: 2px
                width: 100%
                background: linear-gradient(95.21deg, #F59C33 0%, #F56233 98.85%)
                border-radius: 3px
                position: absolute
                top: 50px
                transition: all 0.2s
            &:hover
                .header-buttons__title
                    color: #FE9417
                

        .header-buttons__content
            margin: 0 auto
            display: flex
            justify-content: center
            text-decoration: none
        .header-buttons__title
            margin-right: 15px
            font-style: normal
            font-weight: 600
            font-size: 16px
            text-align: center
            color: #FFFFFF
            text-decoration: none
        .header-buttons__icon
            &.header-buttons__icon_about
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='13' viewBox='0 0 10 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 11.2857V1M9 7.28571L5 11.2857L9 7.28571ZM5 11.2857L1 7.28571L5 11.2857Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
                background-repeat: no-repeat
                background-position: center center
                width: 10px
                height: 13px
                margin-top: 28px
            &.header-buttons__icon_portfolio
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4784 5.25866C14.817 5.70152 14.817 6.29938 14.4784 6.74152C13.412 8.13366 10.8534 11.0001 7.86629 11.0001C4.87915 11.0001 2.32057 8.13366 1.25415 6.74152C1.08942 6.52947 1 6.2686 1 6.00009C1 5.73158 1.08942 5.47071 1.25415 5.25866C2.32057 3.86652 4.87915 1.00009 7.86629 1.00009C10.8534 1.00009 13.412 3.86652 14.4784 5.25866V5.25866Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.86628 8.14295C9.04974 8.14295 10.0091 7.18356 10.0091 6.00009C10.0091 4.81662 9.04974 3.85723 7.86628 3.85723C6.68281 3.85723 5.72342 4.81662 5.72342 6.00009C5.72342 7.18356 6.68281 8.14295 7.86628 8.14295Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
                background-repeat: no-repeat
                background-position: center center
                width: 16px
                height: 12px
                margin-top: 29px

    .header-figure
        position: absolute
        z-index: 0
        right: -190px
        top: -50px
        opacity: 0.2
        // -webkit-animation: scaling 10s linear infinite alternate
        // -moz-animation: scaling 10s linear infinite alternate
        // -o-animation: scaling 10s linear infinite alternate
        // -ms-animation: scaling 10s linear infinite alternate
        // animation: scaling 10s linear infinite alternate

    @keyframes scaling
        0%
            transform: scale(1, 1)
        25%
            transform: scale(1.05, 1.05)
        50%
            transform: scale(1.15, 1.15)
        75%
            transform: scale(1.05, 1.05)
        100%
            transform: scale(1, 1)

    .header-human
        position: absolute
        z-index: 2
        right: -80px
        top: 120px
        width: 900px
        height: 900px
        -webkit-animation: human 5s linear infinite alternate
        -moz-animation: human 5s linear infinite alternate
        -o-animation: human 5s linear infinite alternate
        -ms-animation: human 5s linear infinite alternate
        animation: human 5s linear infinite alternate
        svg
            display: inline-block

    @keyframes human
        0%
            -webkit-transform: translateY(0px)
            -ms-transform: translateY(0px) 
            transform: translateY(0px)
        25%
            -webkit-transform: translateY(10px)
            -ms-transform: translateY(10px) 
            transform: translateY(10px)
        50%
            -webkit-transform: translateY(20px)
            -ms-transform: translateY(20px) 
            transform: translateY(20px)
        75%
            -webkit-transform: translateY(10px)
            -ms-transform: translateY(10px) 
            transform: translateY(10px)
        100%
            -webkit-transform: translateY(0px)
            -ms-transform: translateY(0px) 
            transform: translateY(0px)


    .header-social
        display: flex
        justify-content: space-between
        flex-direction: column
        position: absolute
        z-index: 10
        right: 18px
        top: 300px
        text-align: right
        transition: all 0.5s
        .header-social__item
            margin-bottom: 45px
            position: relative
            transition: all 0.2s ease-in-out
            transform: translate(0px, 0px)
            &.header-social__item_tg
                background-image: url("data:image/svg+xml, %3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 20C40 25.3043 37.8929 30.3914 34.1421 34.1421C30.3914 37.8929 25.3043 40 20 40C14.6957 40 9.60859 37.8929 5.85786 34.1421C2.10714 30.3914 0 25.3043 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0C25.3043 0 30.3914 2.10714 34.1421 5.85786C37.8929 9.60859 40 14.6957 40 20V20ZM20.7175 14.765C18.7725 15.575 14.8825 17.25 9.0525 19.79C8.1075 20.165 7.61 20.535 7.565 20.895C7.49 21.5025 8.2525 21.7425 9.29 22.07L9.7275 22.2075C10.7475 22.54 12.1225 22.9275 12.835 22.9425C13.485 22.9575 14.2075 22.6925 15.005 22.1425C20.4525 18.465 23.265 16.6075 23.44 16.5675C23.565 16.5375 23.74 16.5025 23.855 16.6075C23.9725 16.71 23.96 16.9075 23.9475 16.96C23.8725 17.2825 20.88 20.0625 19.3325 21.5025C18.85 21.9525 18.5075 22.27 18.4375 22.3425C18.2834 22.5 18.1267 22.6551 17.9675 22.8075C17.0175 23.7225 16.3075 24.4075 18.005 25.5275C18.8225 26.0675 19.4775 26.51 20.13 26.955C20.84 27.44 21.55 27.9225 22.47 28.5275C22.7025 28.6775 22.9275 28.84 23.145 28.995C23.9725 29.585 24.72 30.115 25.6375 30.03C26.1725 29.98 26.725 29.48 27.005 27.98C27.6675 24.4375 28.97 16.765 29.27 13.6025C29.2883 13.3396 29.2774 13.0755 29.2375 12.815C29.214 12.6048 29.1122 12.4111 28.9525 12.2725C28.725 12.1155 28.4538 12.0341 28.1775 12.04C27.4275 12.0525 26.27 12.455 20.7175 14.765V14.765Z' fill='white'/%3E%3C/svg%3E")
                width: 40px
                height: 40px
            &.header-social__item_wa
                background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.0085 9.24976C31.025 -0.000305774 18.8087 -2.75033 9.33481 2.99972C0.110229 8.74976 -2.88153 21.2499 3.10199 30.4999L3.60061 31.2499L1.60611 38.75L9.0855 36.75L9.83344 37.25C13.0745 39 16.5649 40 20.0553 40C23.795 40 27.5347 39 30.7757 37C40.0003 30.9999 42.7427 18.7498 37.0085 9.24976V9.24976ZM31.773 28.4999C30.7757 29.9999 29.5292 30.9999 27.784 31.2499C26.7867 31.2499 25.5402 31.7499 20.5539 29.7499C16.3156 27.7499 12.8252 24.4999 10.3321 20.7499C8.83618 18.9998 8.08824 16.7498 7.83893 14.4998C7.83893 12.4998 8.58687 10.7498 9.83344 9.49977C10.3321 8.99976 10.8307 8.74976 11.3293 8.74976H12.5759C13.0745 8.74976 13.5731 8.74976 13.8224 9.74977C14.3211 10.9998 15.5676 13.9998 15.5676 14.2498C15.8169 14.4998 15.8169 14.9998 15.5676 15.2498C15.8169 15.7498 15.5676 16.2498 15.3183 16.4998C15.069 16.7498 14.8197 17.2498 14.5704 17.4998C14.0718 17.7498 13.8224 18.2498 14.0718 18.7498C15.069 20.2498 16.3156 21.7499 17.5621 22.9999C19.058 24.2499 20.5539 25.2499 22.2991 25.9999C22.7977 26.2499 23.2963 26.2499 23.5456 25.7499C23.795 25.2499 25.0415 23.9999 25.5402 23.4999C26.0388 22.9999 26.2881 22.9999 26.7867 23.2499L30.7757 25.2499C31.2744 25.4999 31.773 25.7499 32.0223 25.9999C32.2716 26.7499 32.2716 27.7499 31.773 28.4999V28.4999Z' fill='white'/%3E%3C/svg%3E")
                width: 40px
                height: 40px
            &.header-social__item_vk
                background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0C8.95417 0 0 8.95417 0 20C0 31.0458 8.95417 40 20 40C31.0458 40 40 31.0458 40 20C40 8.95417 31.0458 0 20 0ZM27.6917 22.5646C27.6917 22.5646 29.4604 24.3104 29.8958 25.1208C29.9083 25.1375 29.9146 25.1542 29.9187 25.1625C30.0958 25.4604 30.1375 25.6917 30.05 25.8646C29.9042 26.1521 29.4042 26.2938 29.2333 26.3063H26.1083C25.8917 26.3063 25.4375 26.25 24.8875 25.8708C24.4646 25.575 24.0479 25.0896 23.6417 24.6167C23.0354 23.9125 22.5104 23.3042 21.9813 23.3042C21.914 23.3041 21.8472 23.3146 21.7833 23.3354C21.3833 23.4646 20.8708 24.0354 20.8708 25.5562C20.8708 26.0312 20.4958 26.3042 20.2313 26.3042H18.8C18.3125 26.3042 15.7729 26.1333 13.5229 23.7604C10.7687 20.8542 8.28958 15.025 8.26875 14.9708C8.1125 14.5937 8.43542 14.3917 8.7875 14.3917H11.9437C12.3646 14.3917 12.5021 14.6479 12.5979 14.875C12.7104 15.1396 13.1229 16.1917 13.8 17.375C14.8979 19.3042 15.5708 20.0875 16.1104 20.0875C16.2116 20.0863 16.311 20.0606 16.4 20.0125C17.1042 19.6208 16.9729 17.1104 16.9417 16.5896C16.9417 16.4917 16.9396 15.4667 16.5792 14.975C16.3208 14.6187 15.8812 14.4833 15.6146 14.4333C15.7225 14.2844 15.8647 14.1636 16.0292 14.0812C16.5125 13.8396 17.3833 13.8042 18.2479 13.8042H18.7292C19.6667 13.8167 19.9083 13.8771 20.2479 13.9625C20.9354 14.1271 20.95 14.5708 20.8896 16.0896C20.8708 16.5208 20.8521 17.0083 20.8521 17.5833C20.8521 17.7083 20.8458 17.8417 20.8458 17.9833C20.825 18.7562 20.8 19.6333 21.3458 19.9937C21.417 20.0384 21.4993 20.0622 21.5833 20.0625C21.7729 20.0625 22.3437 20.0625 23.8896 17.4104C24.3663 16.5568 24.7806 15.6697 25.1292 14.7562C25.1604 14.7021 25.2521 14.5354 25.3604 14.4708C25.4404 14.4301 25.529 14.4093 25.6187 14.4104H29.3292C29.7333 14.4104 30.0104 14.4708 30.0625 14.6271C30.1542 14.875 30.0458 15.6312 28.3521 17.925L27.5958 18.9229C26.0604 20.9354 26.0604 21.0375 27.6917 22.5646V22.5646Z' fill='white'/%3E%3C/svg%3E")
                width: 40px
                height: 40px
            &:last-child
                margin-right: 0px
            &:hover
                transform: translate(0px, -5px)

@media (min-width: 992px) and (max-width: 1199px)
    .header
        margin-bottom: 100px
        .header-top-panel
            .header-top-panel__logo
                width: 155px
                margin-top: 15px
        .header-info
            margin-top: 100px
            .header-info__title
                font-size: 36px
                line-height: 60px
            .header-info__description
                width: 55%
                br
                    display: none
        .header-human
            right: -12%
            width: 80%
            top: 20% !important
        

@media (min-width: 768px) and (max-width: 991px)
    .header
        margin-bottom: 80px
        padding-bottom: 80px
        .header-top-panel
            .header-top-panel__logo
                width: 155px
            .header-menu-btn
                display: block
        .header-contacts
            display: none
        .header-social
            display: none
        .header-info
            margin-top: 320px
            .header-info__title
                font-size: 22px
                line-height: 40px
        .header-human
            width: 600px
            margin: 0 auto
            right: 0px
            left: -45%
            bottom: auto
            height: auto
            position: absolute
            margin-top: 0px
            top: 0px
            // -webkit-animation: none !important
            // -moz-animation: none !important
            // -o-animation: none !important
            // -ms-animation: none !important
            // animation: none !important
        .header-buttons
            flex-direction: column
            .header-buttons__about
                margin-right: 0px
                margin-bottom: 45px
            .header-buttons__portfolio
                max-width: 212px

@media (min-width: 320px) and (max-width: 767px)
    .header
        margin-bottom: 80px
        padding-bottom: 80px
        .header-top-panel
            .header-top-panel__logo
                width: 155px
            .header-menu-btn
                display: block
        .header-contacts
            display: none
        .header-social
            display: none
        .header-info
            margin-top: 320px
            .header-info__title
                font-size: 22px
                line-height: 40px
                br
                    display: none
        .header-human
            width: 600px
            margin: 0 auto
            right: 0px
            left: -40%
            bottom: auto
            height: auto
            position: absolute
            margin-top: 0px
            top: 5%
            // -webkit-animation: none !important
            // -moz-animation: none !important
            // -o-animation: none !important
            // -ms-animation: none !important
            // animation: none !important
        .header-buttons
            flex-direction: column
            .header-buttons__about
                margin-right: 0px
                margin-bottom: 45px
            .header-buttons__portfolio
                max-width: 212px

        // .header-figure
        //     -webkit-animation: none !important
        //     -moz-animation: none !important
        //     -o-animation: none !important
        //     -ms-animation: none !important
        //     animation: none !important
        