.popup
    text-align: center
    .popup-icon
        &.true
            width: 237px
            height: 189px
        &.false
            width: 223px
            height: 199px
    .modal-content
        padding: 25px 0px
    .popup-icon
        margin: 0 auto
        margin-bottom: 25px
        text-align: center
    .popup-title
        text-align: center
        margin-bottom: 25px
    .popup-text
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 40px
        text-align: center
        letter-spacing: 0.02em
        color: #000000
        margin-bottom: 0px
        margin-bottom: 45px
    .popup-close
        position: absolute
        top: 15px
        right: 15px
        cursor: pointer
        background-image: url("data:image/svg+xml, %3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24.1469' height='3.21912' rx='1.60956' transform='matrix(0.674623 -0.738163 0.737042 0.675847 0.858398 17.8244)' fill='black'/%3E%3Crect width='24.1433' height='3.2196' rx='1.6098' transform='matrix(-0.73866 -0.674079 0.672852 -0.739777 17.8335 19.7077)' fill='black'/%3E%3C/svg%3E")
        width: 20px
        height: 20px
    .popup-btn
        width: 280px
        height: 70px
        line-height: 70px
        border-radius: 5px
        cursor: pointer
        margin: 0 auto
        font-style: normal
        font-weight: 600
        font-size: 16px
        text-align: center
        color: #FFFFFF
        text-decoration: none