.services
    .services-item
        background: #FFFFFF
        border: 1px solid #EDEDED
        box-sizing: border-box
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
        border-radius: 5px
        padding-top: 50px
        padding-bottom: 50px
        padding-left: 30px
        padding-right: 30px
        // transition: all 0.2s ease-in-out
        // transform: translate(0px, 0px)
        // &:hover
        //     transform: translate(0px, -5px)
        //     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1)
        .services-item__icon
            margin: 0 auto
            text-align: center
            margin-bottom: 50px
            max-width: 180px
        .services-item__title
            font-style: normal
            font-weight: 600
            font-size: 24px
            letter-spacing: 0.02em
            color: #000000
            margin-bottom: 30px
        .services-item__separator
            width: 100px
            height: 2px
            background: linear-gradient(95.21deg, #F59C33 0%, #F56233 98.85%)
            border-radius: 3px
            margin-bottom: 30px
        .services-item__description
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 35px
            letter-spacing: 0.02em
            color: #000000
            margin-bottom: 30px
            min-height: 210px
        .services-item-list
            list-style: none
            padding: 0px
            margin: 0px
            margin-left: 30px
            margin-bottom: 50px
            min-height: 485px
            .services-item-list__item
                font-style: normal
                font-weight: 300
                font-size: 15px
                color: #000000
                margin-bottom: 15px
                line-height: 35px
                position: relative
                &:last-child
                    margin-bottom: 0px

                &::before
                    content: ''
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 10.5C19 15.4706 14.9706 19.5 10 19.5C5.02944 19.5 1 15.4706 1 10.5C1 5.52944 5.02944 1.5 10 1.5C14.9706 1.5 19 5.52944 19 10.5Z' stroke='url(%23paint0_linear)' stroke-width='2'/%3E%3Cpath d='M13.4456 7.25369C13.6184 7.08917 13.8483 6.99822 14.0869 7.00003C14.3255 7.00183 14.5541 7.09625 14.7244 7.26336C14.8947 7.43048 14.9934 7.65721 14.9997 7.89572C15.006 8.13423 14.9194 8.36586 14.7582 8.54174L9.86357 14.663C9.7794 14.7537 9.67782 14.8264 9.5649 14.8769C9.45198 14.9274 9.33003 14.9546 9.20636 14.9569C9.08268 14.9592 8.95981 14.9366 8.8451 14.8903C8.73038 14.844 8.62618 14.7751 8.53872 14.6876L5.29283 11.4417C5.20243 11.3575 5.12993 11.2559 5.07965 11.143C5.02936 11.0302 5.00232 10.9083 5.00014 10.7848C4.99796 10.6613 5.02069 10.5386 5.06696 10.424C5.11323 10.3095 5.18211 10.2054 5.26947 10.118C5.35684 10.0307 5.4609 9.96178 5.57547 9.91551C5.69003 9.86924 5.81273 9.84651 5.93627 9.84869C6.0598 9.85087 6.18163 9.87791 6.29449 9.9282C6.40734 9.97848 6.50892 10.051 6.59315 10.1414L9.16189 12.7089L13.4223 7.28068C13.4299 7.27123 13.4381 7.26222 13.4468 7.25369H13.4456Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='0.5' x2='21.3951' y2='2.44993' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE9417'/%3E%3Cstop offset='1' stop-color='%23F56233'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='5' y1='7' x2='15.6467' y2='8.21946' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FE9417'/%3E%3Cstop offset='1' stop-color='%23F56233'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
                    position: absolute
                    top: 7px
                    left: -30px
                    display: block
                    width: 20px
                    height: 21px
        .services-item-price
            margin-bottom: 50px
            .services-item-price__value
                font-style: normal
                font-weight: 600
                font-size: 20px
                color: #000000
            .services-item-price__separator
                font-style: normal
                font-weight: 700
                font-size: 16px
                color: #000000
                padding: 0px 5px
            .services-item-price__time
                font-style: normal
                font-weight: 600
                font-size: 16px
                color: #000000
            .services-item-price__days
                font-style: normal
                font-weight: 300
                font-size: 18px
                color: #000000
                padding-left: 5px
        .services-item-btn
            width: 100%
            height: 70px
            line-height: 70px
            border-radius: 5px
            margin-right: 45px
            cursor: pointer
            margin: 0 auto
            display: flex
            justify-content: center
            text-decoration: none
            .services-item-btn__link
                display: flex
                width: 100%
                justify-content: center
                text-decoration: none
            .services-item-btn__title
                margin-right: 15px
                font-style: normal
                font-weight: 600
                font-size: 16px
                text-align: center
                color: #FFFFFF
                text-decoration: none
            .services-item-btn__icon
                -webkit-transform: translateX(0px)
                -ms-transform: translateX(0px) 
                transform: translateX(0px)
                transition: all 0.2s
            &:hover
                .services-item-btn__icon
                    -webkit-transform: translateX(5px)
                    -ms-transform: translateX(5px) 
                    transform: translateX(5px)

@media (min-width: 992px) and (max-width: 1199px)
    .services
        .services-item
            .services-item__title
                font-size: 18px
            .services-item__description
                min-height: 320px
            .services-item-price
                .services-item-price__time
                    font-size: 14px
                .services-item-price__days
                    font-size: 16px


@media (min-width: 768px) and (max-width: 991px)
    .services
        .col-lg-4
            &:last-child
                .services-item
                    margin-bottom: 0px !important
        .services-item
            margin-bottom: 30px
            .services-item__title
                font-size: 18px
            .services-item__description
                min-height: auto
            .services-item-list
                min-height: auto
            .services-item-price
                .services-item-price__value
                    font-size: 18px

@media (min-width: 320px) and (max-width: 767px)
    .services
        .col-lg-4
            &:last-child
                .services-item
                    margin-bottom: 0px !important
        .services-item
            margin-bottom: 30px
            .services-item__title
                font-size: 18px
            .services-item__description
                min-height: auto
            .services-item-list
                min-height: auto
            .services-item-price
                .services-item-price__value
                    font-size: 18px